.infoPanel {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    padding: 14px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

.infoPanel h1 {
    margin: 0;
}

.infoPanel__buttos {
    display: flex;
    gap: 5px;
}

.infoPanel__buttos button {
    cursor: pointer;
}