.screen__shot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    pointer-events: none;
}

.screen__shot_area {
    background-color: transparent;
    width: 100%;
    height: 100%;
    max-height: 500px;
    padding: 20px;
    aspect-ratio: 16/9;
    border: 2px dashed  #000000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.screen__shot_area .screen__shot_codd {
    max-width: 820px;
    padding: 30px;
    border-radius: 10px;
    background-color: #62A744;
}

.screen__shot_area .screen__shot_events {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 16px 0 rgba(19, 19, 22, 0.08), 0 2px 4px 0 var(rgba(19, 19, 22, 0.05));
}

.screen__shot_panel {
    pointer-events: all;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 16px 0 rgba(19, 19, 22, 0.08), 0 2px 4px 0 var(rgba(19, 19, 22, 0.05));
}

.screen__shot_download button {
    cursor: pointer;
}